<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Url1:</strong>
  <%= @event.url1 %>
</p>

<p>
  <strong>Url2:</strong>
  <%= @event.url2 %>
</p>

<p>
  <strong>Url3:</strong>
  <%= @event.url3 %>
</p>

<p>
  <strong>Url4:</strong>
  <%= @event.url4 %>
</p>

<p>
  <strong>Url5:</strong>
  <%= @event.url5 %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @event.remarks %>
</p>

<p>
  <strong>Allday:</strong>
  <%= @event.allDay %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
