<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<p>
  <strong>Location1:</strong>
  <%= @event.location1 %>
</p>

<p>
  <strong>Location2:</strong>
  <%= @event.location2 %>
</p>

<p>
  <strong>Location3:</strong>
  <%= @event.location3 %>
</p>

<p>
  <strong>Location4:</strong>
  <%= @event.location4 %>
</p>

<p>
  <strong>Location5:</strong>
  <%= @event.location5 %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @event.remarks %>
</p>

<p>
  <strong>Allday:</strong>
  <%= @event.allDay %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
